.cards__vertical__container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;
  justify-content: center;
  align-content: center; /* ✅ ESTA */
  padding: 32px 16px;
}


/* Fondo con imagen desenfocada */
.cards__vertical__container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/vertical-11.jpeg") center / cover no-repeat;
  filter: blur(12px);
  transform: scale(1.1);
  z-index: 1;
}

.cards__vertical__container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
  z-index: 1;
}

/* contenido arriba del fondo */
.cards__vertical__container>* {
  position: relative;
  z-index: 2;
}

/* Mobile optimization */
@media (max-width: 480px) {
  .cards__vertical__container::before {
    filter: blur(8px);
  }
}