@use "../styles/variables.scss"as *;

.card-v {
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
  width: 84%;
  max-width: 343px;
  border: 1px solid $secondary-pink;
  border-radius: 24px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(255, 104, 196, 0.1);
  &:first-child {
    border: 2px solid $primary-pink;
    box-shadow: 0px 6px 16px rgba(255, 104, 196, 0.25);
  }

  &__img-container {
    position: relative;
  }

  &__badge {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;

    pointer-events: none;
    user-select: none;

    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  &:hover &__badge {
    transform: scale(1.05) rotate(-3deg);
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.3));
  }

  &__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 24px 24px 0 0;
    display: block;

  }

  &__texts {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 20px;

    &__title {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
      color: $primary-pink;
      text-transform: uppercase;
    }

    &__subtitle {
      margin: 0;
      font-size: 14px;
      font-style: italic;
      color: black;
      font-weight: 400;
    }

    &__p {
      margin: 0;
      font-size: 12px;
      font-weight: 300;
      color: $accent-pink;
      font-style: italic;
    }

    // Nuevo contenedor alineado en fila (row)
    &__footer {
      width: 100%;
      margin-top: 0.5rem;
      display: flex;
      flex-direction: row; // Uno al lado del otro
      justify-content: space-between; // Precio a la izquierda, botón a la derecha
      align-items: center; // Alineados verticalmente al centro
      gap: 10px;
    }

    &__price {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      color: $secondary-pink;
      font-family: $font-primary;
      white-space: nowrap; // Evita que el precio se rompa en dos líneas
    }

    &__button {
      // Ajustamos el botón para que no ocupe todo el ancho y permita espacio al precio
      flex-shrink: 0;
      padding: 8px 16px;
      font-size: 13px;
    }
  }
}